/* style.scss*/
a {
  color: inherit;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Aleo', serif; }

.ba-header {
  height: 110px;
  display: flex;
  align-items: center; }
  .ba-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .ba-header-menu {
    display: flex;
    align-items: center;
    list-style: none; }
    .ba-header-menu__item + .ba-header-menu__item {
      margin-left: 45px; }
    .ba-header-menu__link {
      color: inherit;
      text-decoration: none;
      color: #3b3b3b;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.98px; }

.ba-hero {
  min-height: calc(100vh - 110px);
  border-bottom-style: solid;
  border-bottom-color: red;
  border-bottom-width: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/Layer1.png);
  background-size: cover; }
  .ba-hero-wrapper {
    text-align: center; }
  .ba-hero__title {
    margin: 0 auto;
    margin-bottom: 18px;
    color: #ffffff;
    font-family: "WCManoNegraBta";
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: -9px; }
  .ba-hero__text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.64px;
    position: relative; }
  .ba-hero__text::before, .ba-hero__text::after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    bottom: 50%; }
  .ba-hero__text::before {
    left: 28%; }
  .ba-hero__text::after {
    right: 28%; }
